.titleInput{
    font-size: 1rem;
    font-weight: 100 !important;
}

.multipleInput{
    padding: 0 !important;
}

.login{
    color: #131522 !important;
}

.login:hover{
    color: white !important;
}